
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# production
/dist
/build
/.next/
/out/

# misc
.DS_Store
*.pem
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.sqlite
*.sqlite-journal
greenview.db
greenview.db-journal

# tooling
.vscode
.idea
*.iml

# environment variables
.env
.env*.local
*.env
!.env.example

# Firebase
# If you are using Firebase emulators, you may want to ignore the emulator data
# .firebase/emulators/
# firebase-debug.log
# firebase-crashlytics-build.json
# firebase-crashlytics-ndk-build.json
# storage.rules
# firestore.rules
# database.rules

# IDX specific
.idx/
